//colors
$background-color: #0b1220;
$blush-pink: #f2b6c6;
$dusty-rose: #d48aa2;
$deep-navy: #0b132b;
$background-white: #f8f8ff;
$text-color: #F2F2F2;
$subtext-color: #CFCFD4;
//fonts
@font-face {
    font-family: "myMedifows";
    src: url(/fonts/mefidows/Mefidows\ DEMO\ VERSION.ttf) format("truetype");
    font-style: normal;
}
//nav bar 
.navbar {
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    color: $text-color;
    border-bottom: 1px solid $text-color;
}
.navbar .logo {
    font-family: "myMedifows";
    font-weight: bold;
}
.navbar h1 {
    font-size: 24px;
}

.nav-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: $text-color;
}
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $deep-navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 20px;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 998;
}
.nav-menu.open {
    transform: translateX(0);
}
.nav-menu li a {
    color: $text-color;
    font-size: 22px;
    text-decoration: none;
}