//colors
$background-color: #0b1220;
$blush-pink: #f2b6c6;
$dusty-rose: #d48aa2;
$deep-navy: #0b132b;
$background-white: #f8f8ff;
$text-color: #F2F2F2;
$subtext-color: #CFCFD4;
$lavender: #C7B9FF;
//fonts
@font-face {
    font-family: "myMedifows";
    src: url(/fonts/mefidows/Mefidows\ DEMO\ VERSION.ttf) format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "myClamofte";
    src: url("/fonts/clamofte/Clamofte\ DEMO\ VERSION.ttf") format("truetype");
    font-style: normal;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(12px)
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
}
//nav bar 
.navbar {
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    color: $text-color;
    border-bottom: 1px solid $text-color;
}
.navbar .logo {
    font-family: "myMedifows";
    font-weight: bold;
}
.navbar h1 {
    font-size: 24px;
}

.nav-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: $text-color;
}
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $deep-navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 20px;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 998;
}
.nav-menu.open {
    transform: translateX(0);
}
.nav-menu li a {
    color: $text-color;
    font-size: 22px;
    text-decoration: none;
}
#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $background-white;
    animation: fadeUp 0.8s ease-out; 
    border-radius: 0 0 30px 30px;   
}
#introduction img {
    width: 260px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
#introduction h2 {
    font-family: "myMedifows", sans-serif;
    letter-spacing: 0.5px;
    font-size: 36px;
    margin: 10px 0;;
    color: $deep-navy;
}
#introduction h3 {
    font-family: "myMedifows", sans-serif;
    font-size: 24px;
    margin: 0;
    color: $blush-pink;
}
#introduction p {
    font-family: "myMedifows", sans-serif;
    margin: 0 10px 20px 10px;
    font-style: italic;
}
.contact-information-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.contact-information-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 50px;
}
//social links icons
.social-logo {
    width: 50px;
    filter: invert(78%) sepia(21%) saturate(534%) hue-rotate(298deg) brightness(100%) contrast(91%);
}
//button
#project-button {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
#project-button button {
    background-color: #efe8e4;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-family: "myMedifows", sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 12px rgba(212, 138, 162, 0.4);
}
#project-button button a {
    text-decoration: none;
    color: $deep-navy;
    font-weight: bold;
}
#skills {
    margin: 20px;
}
#skills h2 {
    font-family: "myMedifows", sans-serif;
    color: $text-color;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: "myMedifows", sans-serif;
}
#skills ul li {
    background-color: $blush-pink;
    padding: 10px 15px;
    border-radius: 13px;
    font-weight: bold;
    opacity: 0;
    white-space: nowrap;
}
.work-experience-wrapper {
    margin: 15px;
    color: $text-color;
    text-align: center;
}
.work-experience-wrapper h2 {
    font-family: "myMedifows", sans-serif;
    font-size: 36px;
    margin-top: 40px;
}
#work-experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.work-experience-card {
    text-align: left;
}
.work-experience-card h3 {
    font-family: "myMedifows", sans-serif;
    margin: 0;
    font-size: 25px;
}
.work-experience-card h4 {
    font-family: "myMedifows", sans-serif;
    margin: 5px 0 0 0;
    font-size: 20px;
    color: $dusty-rose;
}
.work-experience-card h6 {
    margin: 0;
    color: $subtext-color;;
}
.date-location {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-style: italic;
}
//footer
footer {
    background-color: $deep-navy;
    color: $text-color;
    font-family: "myClamofte";
    padding: 50px 20px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.footer-about-summary,
.footer-page-links,
.social-media-logos {
    margin: 0;
    padding: 0;
}
.link-sections {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.social-media-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}
.social-media-logos li,
.footer-page-links li {
    list-style: none;
}
.social-media-logos li img {
    filter: invert(82%) sepia(7%) saturate(0%) hue-rotate(279deg) brightness(100%) contrast(94%);
    width: 75px;
}
.social-media-logos li a,
.footer-page-links li a {
    text-decoration: none;
}
.footer-page-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-page-links li a{
   color: $lavender;
   text-decoration: none;
}
@media (min-width: 600px) {
    .navbar h1 {
        font-size: 30px;
    }
    #introduction h2 {
        font-size: 36px;
    }
    #introduction p {
        font-size: 20px;
    }
}
@media (min-width: 900px) {
    #introduction h2 {
        font-size: 40px;
    }
    #introduction h3 {
        font-size: 29px;
    }
    #introduction p {
        font-size: 25px;
    }
    .social-logo {
        width: 75px;
    }
    #project-button button {
        font-size: 24px;
    }
    .link-sections {
        flex-direction: row-reverse;
        gap: 200px;
    }
    .footer-page-links ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}
@media (min-width: 1200px) {
    #work-experience-grid {
        gap: 30px;
    }
    .work-experience-card {
        margin: 40px;
    }
    .link-sections {
        gap: 300px;
    }
}