$background-color: #0b1220;
$text-color: #F2F2F2;
$subtext-color: #CFCFD4;

//fonts 
@font-face {
    font-family: "myMedifows";
    src: url(/fonts/mefidows/Mefidows\ DEMO\ VERSION.ttf) format("truetype");
    font-style: normal;
}

body {
    background-color: $background-color;
    color: $text-color;
    align-items: center;
    text-align: center;
    font-family: "myMedifows";
}
.divider {
    border-bottom: 1px solid $subtext-color;
    margin-top: 30px;
}
.project-card {
    margin: 30px;
}
.project-card h2 {
    font-style: italic;
    font-size: 38px;
    margin-bottom: 0;
}
.project-card h6 {
    font-size: 20px;
    margin: 0 0 20px 0;
    font-style: none;
}
.project-card a {
    text-decoration: underline;
    color: $subtext-color;
}
.project-card video {
    width: 300px;
    border-radius: 10px;
}
.technologies {
    text-align: left;
}
.technologies h3 {
    font-family: "myMedifows";
    font-size: 25px;
    font-style: italic;
    margin: 7px 0 0 0;
}
.technologies p {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    color: $subtext-color;
}
.overview {
    text-align: left;
}
.overview h3 {
    font-size: 30px;
    margin-bottom: 0;
    font-style: italic;
}
.overview p {
    font-size: 25px;
    margin: 0;
    color: $subtext-color;
}