$background-color: #0b1220;
$text-color: #F2F2F2;
$subtext-color: #CFCFD4;
$deep-navy: #0b132b;
$lavender: #C7B9FF;

//fonts 
@font-face {
    font-family: "myMedifows";
    src: url(/fonts/mefidows/Mefidows\ DEMO\ VERSION.ttf) format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "myClamofte";
    src: url("/fonts/clamofte/Clamofte\ DEMO\ VERSION.ttf") format("truetype");
    font-style: normal;
}
body {
    background-color: $background-color;
    color: $text-color;
    font-family: "myMedifows";
    margin: 0;
    padding: 0;
}
//nav bar 
.navbar {
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    color: $text-color;
    border-bottom: 1px solid $text-color;
}
.navbar .logo {
    font-family: "myMedifows";
    font-weight: bold;
}
.navbar h1 {
    font-size: 24px;
}

.nav-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: $text-color;
}
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $deep-navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 20px;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 998;
}
.nav-menu.open {
    transform: translateX(0);
}
.nav-menu li a {
    color: $text-color;
    font-size: 22px;
    text-decoration: none;
}
.divider {
    border-bottom: 1px solid $subtext-color;
    margin-top: 30px;
}
.project-card {
    margin: 30px;
}
.project-card h2 {
    font-style: italic;
    font-size: 38px;
    margin-bottom: 0;
    text-align: center;
}
.project-card h6 {
    font-size: 20px;
    margin: 0 0 20px 0;
    font-style: normal;
    text-align: center;
}
.project-card a {
    text-decoration: underline;
    color: $subtext-color;
}
.project-card video {
    width: 375px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}
.technologies {
    text-align: left;
}
.technologies h3 {
    font-family: "myMedifows";
    font-size: 25px;
    font-style: italic;
    margin: 7px 0 0 0;
}
.technologies p {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    color: $subtext-color;
}
.overview {
    text-align: left;
}
.overview h3 {
    font-size: 30px;
    margin-bottom: 0;
    font-style: italic;
}
.overview p {
    font-size: 25px;
    margin: 0;
    color: $subtext-color;
}
//footer
footer {
    background-color: $deep-navy;
    color: $text-color;
    font-family: "myClamofte";
    padding: 50px 20px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.footer-about-summary,
.footer-page-links,
.social-media-logos {
    margin: 0;
    padding: 0;
}
.link-sections {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.social-media-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}
.social-media-logos li,
.footer-page-links li {
    list-style: none;
}
.social-media-logos li img {
    filter: invert(82%) sepia(7%) saturate(0%) hue-rotate(279deg) brightness(100%) contrast(94%);
    width: 75px;
}
.social-media-logos li a,
.footer-page-links li a {
    text-decoration: none;
}
.footer-page-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-page-links li a{
   color: $lavender;
   text-decoration: none;
}
@media (min-width: 600px) {
    .navbar h1 {
        font-size: 30px;
    }
    .project-card {
        max-width: 425px;
        display: block;
        margin: auto;
    }
}
@media (min-width: 900px) {
    #projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .divider {
        display: none;
    }
    .project-card:first-child {
        border-right: 1px solid $text-color;
        padding-right: 25px;
    }
    .link-sections {
        flex-direction: row-reverse;
        gap: 200px;
    }
    .footer-page-links ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}
@media (min-width: 1200px) {
    .link-sections {
        gap: 300px;
    }
}
@media (min-width: 1400px) {
    #projects-container {
        justify-content: baseline;
    }
    .project-card {
        border-right: 1px solid $text-color;
        padding-right: 25px;
        margin-top: 20px;
    }
    .project-card:last-child {
        border-right: none;
    }
}