//colors
$background-color: #0b1220;
$lavender: #C7B9FF;
$cyan: #6ee7e0;
$text-color: #F2F2F2;
$subtext-color: #CFCFD4;
$deep-navy: #0b132b;
//fonts
@font-face {
    font-family: "myQuilge";
    src: url("/fonts/quilge/Quilge\ DEMO\ VERSION.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "myClamofte";
    src: url("/fonts/clamofte/Clamofte\ DEMO\ VERSION.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "myMedifows";
    src: url(/fonts/mefidows/Mefidows\ DEMO\ VERSION.ttf) format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "goBold";
    src: url(/fonts/gobold/Gobold\ Extra2.otf) format("opentype");
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-family: "myMedifows", sans-serif;
}
.divider {
    border-top: 1px $lavender solid;
    margin: 50px 20px;
}
//nav bar 
.navbar {
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    color: $text-color;
    border-bottom: 1px solid $text-color;
}
.navbar .logo {
    font-family: "myMedifows";
    font-weight: bold;
}
.navbar h1 {
    font-size: 24px;
}

.nav-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: $text-color;
}
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $deep-navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 20px;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 998;
}
.nav-menu.open {
    transform: translateX(0);
}
.nav-menu li a {
    color: $text-color;
    font-size: 22px;
    text-decoration: none;
}
//main content
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2 {
    color: $text-color;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 0;
}
main p {
    color: $subtext-color;
    width: 60%;
    text-align: center;
}
main img {
    width: 100px;
}
//social
.social-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $subtext-color;
    margin: 20px;
    border-radius: 10px;
    padding-left: 20px;
}
.social-card a {
    text-decoration: none;
}
.social-card h2 {
    color: $lavender;
}
.social-card h4 {
    color: $text-color;
    font-family: "goBold";
}
.social-card p {
    color: $subtext-color;
}

//contact form
.contact-form-container {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form-container h2.contact-form-title {
    color: $text-color;
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
.contact-form-container label {
    color: $text-color;
    font-size: 27px;
    align-self: flex-start;
}
.contact-form-container input,.contact-form-container textarea {
    width: 100%;
    padding: 10px;  
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.contact-form-container input[type="submit"] {
    background-color: $cyan;
    color: $background-color;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
//closing
.closing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    text-align: center;
}
.closing h4 {
    color: white;
}