//colors
$background-color:#020200;
//fonts

@font-face {
    font-family: "myQuilge";
    src: url("/fonts/quilge/Quilge\ DEMO\ VERSION.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@keyframes spin {
    from {transform: translateX(0);
    }
    to {transform: translateX(-50%);
    }
}
body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    font-family: "myQuilge", sans-serif;
}

//hero section 
#main-section {
    position: relative;
    height: 100svh;
    width: 100%;
    overflow: hidden;
}
#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#main-section-article {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1rem;
}

//image carousel
.carousel {
    margin: 100px auto;
    max-width: 100vw;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
}
.group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}
.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
.carousel::-webkit-scrollbar {
    display: none;
}

//footer
.social-media-container {
    height: 100px;
    background-color: aliceblue;
}
.social-media-logos {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around; 
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo-img {
    height: 20px;
}